body {
  font-family: helvetica, sans-serif;
  text-align:center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a {
  font-size: 18px
  color: white;
}

.background {
  background-image: url("../images/the-flatiron-building.png");
  color: white
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 32px;
  font-weight: bold;
}

p {
  font-size: 14px
}

.footer{
  text-align: left;
  font-size: 11px;
  background-color: dimgray;
  color: white;
}
